.blink {
  animation: blink-animation 0.5s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
  transition: all 0.3s ease;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@keyframes rollout {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.scale-up {
  animation: rollout 0.4s;
}
